@font-face {
	font-family: fzltcxh;
	src: url('fzltcxh.ttf');
}

.container {
	background-image: url('bg.jpg');
	background-position: center;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.team {
	width: 700px;
	height: 400px;
	margin: 100px auto 0 auto;
}

.team_intro {
	border-radius: 20px;
	box-shadow: 0 0 20px #888;
	width: 700px;
	height: 400px;
	margin: 100px auto 0 auto;
	background-color: #fff;
	opacity: 0.7;
}

.team_name {
	padding: 30px 100px;
	text-align: center;
	font-family: fzltcxh;
	font-weight: 900;
	font-size: 50px;
	color: #000;
}

.team_detail {
	padding: 0 80px;
	color: #000;
	font-family: fzltcxh;
	font-size: 20px;
	font-weight: 500;
}

.team_company {
	margin: 30px 0 0 0;
}

li {
	list-style: none;
	display: inline-block;
	margin-left: 15px;
}

.avater {
	border-radius: 100px;
	width: 100px;
	height: 100px;
}